<!-- <pre>{{trips | json}}</pre> -->


<div *ngIf="isLoggedIn(); else loggedOut" class="container my-3">
  <button class="btn btn-primary mb-3" *ngIf="isAdmin()" (click)="addTrip()">Add Trip</button>

  <div class="row">
    <div *ngFor="let trip of trips" class="col-3 mb-4">
      <app-trip-card [trip]="trip" class="card-deck mt-2"></app-trip-card>
    </div>
  </div>
</div>

<!-- Logged-out view -->
<ng-template #loggedOut>
  <div class="container my-5 text-center">
    <p class="text-muted mb-3">Please log in to view and manage trips.</p>
    <a routerLink="/login" class="btn btn-primary">Log in</a>
  </div>
</ng-template>
